<div class="full">
  <nav id="toolbar">
    <a routerLink="/home" routerLinkActive="active">
      <img alt="logo" src="https://cdn4.iconfinder.com/data/icons/hospital-and-medical-v2/512/cross_hospital_medicine_sign_health-512.png" />
    </a>
    <ul>
      <li><a href="#">Акции</a></li>
      <li><a routerLink="/record" routerLinkActive="active">Запись на приём</a></li>
      <li><a href="#">Врачи</a></li>
      <li><a href="#">О нас</a></li>
      <li><a href="#">Контакты</a>
      </li>
    </ul>
  </nav>
      <router-outlet></router-outlet>
</div>
