<div id="form">
    <label>E-mail</label>
    <br>
    <input #email type="text" name="email" placeholder="email" [(ngModel)]="user.email">
    <br>
    <label>Password</label>
    <br>
    <input #password type="text" name="password" placeholder="password" [(ngModel)]="user.password">">
    <br>
    <br>
    <a routerLink="/home"><button>Назад</button></a>
    <input type="button" (click)="login()" value="Войти">
    <!-- <a href="https://www.facebook.com/dialog/oauth?..." (click)="loginFB()"><button>Войти через Facebook</button></a> -->
    <!-- <input type="button" (click)="loginFB()" value="Войти через Facebook"> -->
</div>