<div class="full">
  <nav id="toolbar">
    <a href="#">
      <img alt="logo" src="https://cdn4.iconfinder.com/data/icons/hospital-and-medical-v2/512/cross_hospital_medicine_sign_health-512.png" />
    </a>
    <ul>
      <li><a href="#">Акции</a></li>
      <li><a href="#">Врачи</a></li>
      <li><a href="#">О нас</a></li>
      <li><a href="#">Контакты</a>
      </li>
    </ul>
  </nav>
  <nav id="main">
    <div>
      <h1>"Оказание помощи на дому"</h1>
      <p class="body">Для оказания консультативной помощи на дому, к вам могут приехать следующие специалисты: невролог, кардиолог, терапевт, уролог. Все специалисты имеют первую либо высшую квалификационную категорию и большой опыт работы по своей
        специальности.</p>
      <p class="contacts">Для вызова врача на дом звоните по телефону колл-центра:<span class="call"> 27-80-80</span> с 8:00 до 19:00.</p>
    </div>
  </nav>
</div>
