<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  #toolbar {
    height: 60px;
    margin: -8px;
    display: flex;
    align-items: center;
    background-color: #E9967A;
  }

  #toolbar ul {
    padding-left: 20px;
  }

  #toolbar img {
    margin-left: 10px;
    width: 40px;
    height: 40px;
  }

  #toolbar li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
  }

  #toolbar a {
    color: #FFFFFF;
    font-weight: 500;
    font-family: sans-serif;
    text-decoration: none;
  }

  #toolbar a:hover {
    color: #8B0000;
  }

  #main {
    margin: 50px;
    margin-top: 0px;
    background-image: url("https://www.med-profi73.ru/bitrix/templates/medprofi_s1/images/pills.png"), linear-gradient(to top left, #A0522D, #8B4513);
    background-blend-mode: multiply;
  }

  #main h1 {
    color: #FFFFFF;
    font-family: Helvetica;
    text-align: center;
  }

  #main .body {
    color: #FFFFFF;
    font-family: Helvetica;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  #main .contacts {
    color: #FFFF00;
    font-family: Helvetica;
    font-weight: 600;
    margin-top: 0px;
  }

  #main .call {
    color: #FF0000;
  }
</style>

<nav id="toolbar">
  <a href="#">
    <img alt="logo" src="https://cdn4.iconfinder.com/data/icons/hospital-and-medical-v2/512/cross_hospital_medicine_sign_health-512.png" />
  </a>
  <ul>
    <li><a href="#">Акции</a></li>
    <li><a href="#">Врачи</a></li>
    <li><a href="#">О нас</a></li>
    <li><a href="#">Контакты</a>
    </li>
  </ul>
</nav>
<nav id="main">
  <div>
    <h1>"Оказание помощи на дому"</h1>
    <p class="body">Для оказания консультативной помощи на дому, к вам могут приехать следующие специалисты: невролог, кардиолог, терапевт, уролог. Все специалисты имеют первую либо высшую квалификационную категорию и большой опыт работы по своей специальности.</p>
    <p class="contacts">Для вызова врача на дом звоните по телефону колл-центра:<span class="call"> 27-80-80</span> с 8:00 до 19:00.</p>
  </div>
</nav>
